body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed;
}   
#icon-menu {
  display: none;
}
nav {
    position: fixed;
    top: 30px;
    left: 210px;
    right: inherit;
    z-index: 9999;
    width: 68%;
    background-color: rgb(101, 49, 15);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0rem;
    color: #ffffff;
    font-family:"Lucida Sans", sans-serif;
    border-radius: 20px; 
}
.nav-links li a:hover {
    color: hsl(0, 0%, 85%); 
    text-decoration: ; 
}
nav .logo {
    font-size: 1.rem;
    width: 30%;
}
nav .logo img {
    padding-top: 0px;
    width: 95px;
  
}
.nav-links {
    list-style-type: none;
    display: flex;
    font-family:"Lucida Sans", sans-serif;
}
.nav-links li a {
    color: inherit;
    margin-left:1rem;
    cursor: pointer;
    text-decoration: none;
    font-family: serif;
    letter-spacing: 1px;
    padding:10px; 
    width: 30%;
    font-size: large;
}
.login img {
    border-radius: 5px;
    margin-left: auto;
    margin-right: 10px;
    
   
  }
  .hero p {
    font-family:  serif;
    padding-top: 100px;
    text-align: center;
    font-size: 36px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: 1px;
   
}
.custom-hr {
    border: 1px solid  rgb(101, 49, 15);/* Warna dan ketebalan garis */
    margin: 10px 500px; /* Ruang atas dan bawah dari garis */
    margin-top: -20px;
}
  /* main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: white;
    box-shadow: 0 8px 15px rgb(122, 122, 122);
} */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}
.booking-card-container {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 8px;
    width: 600px;
    flex-direction: row;
    box-shadow: 0 7px 10px rgb(120, 120, 120);
    
}


.booking-info {
   
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}
.booking-info h3 {
    text-align: center;
    font-family: serif;
    margin-left: 19px;
   
}
.booking-info img {
    background-image: none;
    width: 250px;
    margin-left: 15px;
    border-radius: 8px;
}


.elem-group {
    margin: 10px 0;
    margin-left: 20px;
    margin-bottom: 15px;
    width: 80%;
  }
  
.elem-group.inlined {
    width: 40%;
    margin-top: 2px;
    display: inline-block;
  }
  
label {
    display: block;
    font-family: serif;

  }
  
input, select, textarea {
    border-radius: 2px;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-family: 'serif';
    width: 100%;
 
  }
  
.elem-group.inlined input {
    width: 80%;
    display: inline-block;
  }
  
@media screen and (max-width: 768px) {
    #icon-menu {
        display: block;
        margin-left: 70px;
        margin-top: -4px;
      }
    
      nav {
        margin-left: -160px;
        height: 60px;
      }
      .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        width: 83%;
        background-color:rgb(101, 49, 15);/* Warna dan ketebalan garis */
        text-align: center;
        transition: background-color 0.3s ease;
      }
    
      .nav-links.showNavbar {
        display: flex;
      }
    
      nav .logo img {
        width: 90%;
      }
      nav .login img{
        width:20px;
        margin-right: 0px;
      }
    
      .nav-links li {
        margin: 10px 0;
        font-size: 12px;
        font-family: serif;
        margin-left: -50px;
      }
      .nav-links li a {
        color: inherit;
        margin-left: 1rem;
        cursor: pointer;
        text-decoration: none;
        font-family: serif;
        letter-spacing: 1px;
        padding: 10px;
        width: 30%;
        font-size: 14px;
      }
    
    
      .nav-links.scrolled {
        background-color: rgb(101, 49, 15);
        /* Change the color and opacity as needed */
      }

.booking-card-container {
    width: 270px;
    flex-direction: column;
}
.booking-info img {
    width: 220px;
}
.hero p {
    padding-top: 100px;
    font-size: 17px;
}
.custom-hr {
    margin: 2px 70px; /* Ruang atas dan bawah dari garis */
}
footer {
    font-size: 13px;
}   
}
  
  